*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    align-items: center;
    /* #E5E030 */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.heading{
    padding-left: 45%;
    margin-top: 7%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body table{
    align-self:center;
}

td, th {
  border: 1px solid whitesmoke;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

table a, a:link, a:visited {
  color: red;
}

.text-center {
  text-align: center;
  width: 100%;
}

.btns {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
