*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
    /* #E5E030 */
}

/* topnav*/
nav{
    height: 65px;
    background: black;
}

/*login button*/
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.pizzaName{
    text-align: left;
    color: whitesmoke;
    margin-left: 75px;
    margin-top: 25px;
    position: absolute;
}

nav img{
    width: 50px;
    position: absolute;
    top: 7px;
    left: 2%;
}

nav ul{
    float: right;
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    color: whitesmoke;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0; 
    height: 3px;
    width: 100%;
    background: whitesmoke;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s linear;
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel{
    color: whitesmoke;
    font-size: 30px;
    float: right;
    line-height: 65px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*footer*/
.social{
    height: 55px;
    background: black;
    padding-left: 20px;
    padding-top: 12px;
    width: 100%;
}

/* responsive */
@media (max-width: 1118px){
    nav img{
        left: 2%
    }
}

@media (max-width: 944px){
    nav img{
        left: 2%;
        top: 7px;
        width: 50px;
    }
    nav ul li a{
        font-size:17px;
    }
}

@media (max-width: 860px){
    label #btn{
        display: block;
        z-index: 1;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color:black;
        top: 65px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    } 
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        z-index: 1;
    }
    nav ul li a{
        font: size 20px;
        z-index: 1;
    }

    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}